body{
	letter-spacing: 2px;
	background-color: black;
	font-family: 'Mina', sans-serif;
	width: 960px;
	margin: auto;
}
#divprincipal{
	color: red;
}
#divheader{
	background-color: #121212; 
}
#divaside{
	float: right;
}
#h2produtos{
	font-size: 45px;
}
#divsection{
	width: 800px;
}
.lista{
	list-style-type: none;
}
.obj{
	display: inline-block;
	padding-right: 50px;
}
.link{
	color: red;
	text-decoration: none;
}